@using T_generator.Services.Amazon;

@model PaginatedList<T_generator.Models.Amazon.Data.Dump.AmazonBrowseNode>

@{
    ViewData["Title"] = "Index";
}

<h2>Browse Node</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BrowseNode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrowseNode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmazonBrowseNodeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmazonBrowseNodeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmazonBrowseNodeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@for (int i = 1; i < Model.TotalPages + 1; i++)
{
    <a asp-action="Index"
       asp-route-page="@(i)"
       class="btn btn-default @(Model.PageIndex==i ? "disabled" : "") btn">
        @i
    </a>
}
