@model T_generator.Models.Amazon.Data.Basic.AmazonDesign

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Design</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DesignURL)
        </dt>
        <dd>
            <img src="../../@(Model.DesignURL)" alt="@(Model.Name)" width="60" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmazonAccount.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmazonAccount.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTags1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTags1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTags2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTags2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTags3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTags3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AmazonDesignID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
