@using T_generator.Services.Amazon;

@model PaginatedList<T_generator.Models.Amazon.Data.Basic.AmazonDesign>

@{
    ViewData["Title"] = "Index";
}

<h2>Designs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>              
                @Html.DisplayNameFor(model => model.FirstOrDefault().DesignURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AmazonAccount.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SearchTags1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SearchTags2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SearchTags3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="../@(item.DesignURL)" alt="@(item.Name)" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmazonAccount.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchTags1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchTags2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchTags3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmazonDesignID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmazonDesignID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmazonDesignID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@for (int i=1;i<Model.TotalPages+1;i++)
{
    <a asp-action="Index"
       asp-route-page="@(i)"
       class="btn btn-default @(Model.PageIndex==i ? "disabled" : "") btn">
        @i
    </a>
}
