@model T_generator.Models.Amazon.Data.Intermediate.AmazonProduct

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmazonType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmazonType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmazonAccount.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmazonAccount.Name)
        </dd>
        <dt>
            Keyword 1
        </dt>
        <dd>
            @(ViewData["0"])
        </dd>
        <dt>
            Keyword 2
        </dt>
        <dd>
            @(ViewData["1"])
        </dd>
        <dt>
            Keyword 3
        </dt>
        <dd>
            @(ViewData["2"])
        </dd>
        <dt>
            Keyword 4
        </dt>
        <dd>
            @(ViewData["3"])
        </dd>
        <dt>
            Keyword 5
        </dt>
        <dd>
           @(ViewData["4"])
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AmazonProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
