@using T_generator.Services.Amazon;

@model PaginatedList<T_generator.Models.Amazon.Data.Intermediate.AmazonProductColor>

@{
    ViewData["Title"] = "Index";
}

<h2>Product Colors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>              
                @Html.DisplayNameFor(model => model.FirstOrDefault().DesignURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                Product
            </th>
            <th>
                Color
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Opacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="../@(item.ThumbURL)">
                    <img src="../@(item.DesignURL)" alt="@(item.Name)" width="60" />
                    </a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmazonProduct.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmazonColor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmazonProductColorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmazonProductColorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmazonProductColorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@for (int i=1;i<Model.TotalPages+1;i++)
{
    <a asp-action="Index"
       asp-route-page="@(i)"
       class="btn btn-default @(Model.PageIndex==i ? "disabled" : "") btn">
        @i
    </a>
}
