@model IEnumerable<T_generator.Models.Amazon.Basic.AmazonCountry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prefix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmazonCountryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmazonCountryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmazonCountryID })
        </td>
    </tr>
}

</table>
