@model IEnumerable<T_generator.Models.Amazon.Data.Dump.AmazonBulletPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BulletPoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BulletPoint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmazonBulletPointID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmazonBulletPointID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmazonBulletPointID })
        </td>
    </tr>
}

</table>
