@model T_generator.Models.Amazon.Data.Intermediate.AmazonMarketplace

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AmazonMarketplace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdultFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdultFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BikiniTopStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BikiniTopStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BraBandSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BraBandSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BraBandSizeUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BraBandSizeUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BraCupSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BraCupSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrowseNode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrowseNode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanBeGiftMessaged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanBeGiftMessaged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanBeGiftWrapped)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanBeGiftWrapped)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosureType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosureType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClothingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClothingType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CollarStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CollarStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColourMap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColourMap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FittingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FittingType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FulfillmentCentreId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FulfillmentCentreId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FulfillmentLatency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FulfillmentLatency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GtinExemptionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GtinExemptionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InnerMaterialType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InnerMaterialType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemSKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemSKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemShape)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemShape)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JeansLengthInches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JeansLengthInches)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JeansLengthUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JeansLengthUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JeansWidthInches)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JeansWidthInches)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JeansWidthUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JeansWidthUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerPartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManufacturerPartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialComposition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialComposition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxAggrShipQuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxAggrShipQuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantShippingGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantShippingGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeckStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeckStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfItems)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OccasionDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OccasionDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpacityTransparency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpacityTransparency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OuterMaterialType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OuterMaterialType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageDimensionsUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageDimensionsUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageLengthUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageLengthUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageWeightUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageWeightUnitOfMeasure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentSKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentSKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatternDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatternDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCareInstructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCareInstructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedProductID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedProductType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelationshipType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelationshipType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaleEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleFromDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaleFromDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonAndCollectionYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonAndCollectionYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SizeMap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SizeMap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SleeveType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SleeveType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialFeatures)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialFeatures)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandardPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StandardPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingRow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingRow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StyleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StyleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SwatchImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SwatchImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SwimwearBottomStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SwimwearBottomStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TemplateURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TemplateURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDelete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VariationTheme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VariationTheme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeightUnitOfMeasure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeightUnitOfMeasure)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AmazonMarketplaceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
